[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphviz = "*"
ipywidgets = "*"
plotly = "*"
scikit-learn = "*"
notebook = "*"
sklearn = "*"
pandas = "*"
numpy = "*"
category-encoders = "*"
matplotlib = "*"
seaborn = "*"
xgboost = "*"
pdpbox = "*"
dash = "*"
"plotly.express" = "*"
px = "*"
psycopg2-binary = "*"
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
requests = "*"
tweepy = "*"
pipfile = "*"
lock = "*"
spacy = "*"

[dev-packages]

[requires]
python_version = "3.9"
